@charset "utf-8";
/* CSS Document */

/* Eric Myer's CSS Reset  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-family:Arial, Sans-Serif;
	vertical-align: baseline;
}

/* ~~~~~~~~ GLOBAL ELEMENTS ~~~~~~ */

* {
	margin:0;
	padding:0;
}
ol, ul {
	list-style: none;
}
ul.coming-soon {
	list-style-type: circle;
	margin-left:30px;
	margin-bottom:15px;
	color:#555;
}
a img{border:none}
html, body {    
	height: 100%; 
}
body {
	background:#555;
}
nav,#nav,#header,header,#section,section,fieldset,article,footer,toggler,flash_alert,flash_notice,error_explanation,flash_error_explanation,finish_registration{display:block}
.hide{display:none}
.fl{float:left;}
.fr{float:right;}
.no_display{display:none;}
.mn15t { margin: -15px 0px 0px; }
.mr10 {margin-right:10px;}
.ml10 {margin-left:10px;}
.mb10 {margin-bottom:10px;}
.mt10 {margin-top:10px;}
.mb20 {margin-bottom:20px;}
.mt20 {margin-top:20px;}
.ml220 {margin-left:220px;}

.m10 {margin:10px;}

/* ~~~~~~~~ LANDING PAGE ~~~~~~ */

#wrapper{
	width:960px;
	margin:0 auto;
}
.container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -135px;
}
body#landing{
	border-top:10px solid #0b0b0b;
	font:13px/1.5 helvetica, sans-serif;
	margin:0;
	overflow:hidden;
	width:inherit;
}

#supersized, #supersized2 {
	position:fixed;
	left:0;
	top:0;
	overflow:hidden;
	z-index:-999;
	height:100%;
	width:100%;
}
#supersized2 img{
	height:auto;
}
#supersized img, #supersized2 img{
	width:100%;
	height:100%;
	position:relative;
	outline:none;
	border:none;
}	
#landing #header{
	margin-top:-10px;
	margin-bottom:-35px;}
#logo{
	background: url('/images/embed/logo.png') no-repeat;
	float:left;
	height: 70px;
	width: 388px;
	margin:0 0 15px 0;
}
#logo a{
	height:100%;
	width:100%;
	display:block;
	text-indent:-9999px;
}
#nav #logo a:hover {
	background: url('/images/embed/logo.png') no-repeat;
}
.description{
	margin:40px -160px 15px;
}
.form-landing{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
	box-shadow:3px 3px 5px #000;
	-moz-box-shadow:3px 3px 5px #000;
	-webkit-box-shadow:3px 3px 5px #000;	
	background:#fff;
	position:relative;
	top:20px;
	left:25%;
	width:50%;
	margin:0;
	padding:10px;
}
.form-landing-container{
	padding:10px;
}
.landing-step{
	float:left;
}
fieldset{
	border:none;
	margin:0;
	padding:0 0 20px 20px;
}
fieldset h2{
	font:40px/700 'ChunkFiveRegular', Georgia, serif;
	color:#8d8a8a;
	line-height:1;
	margin:10px 0 20px;
}
select,input{
	border:1px solid #adadad;
	font-size:14px;
	width:290px;
	margin:0;
	padding:8px;
}
.button-landing{
	/*background:#e2c2c5;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;*/
	height:60px;
	line-height:60px;
	position:relative;
	padding:5px;
}
.landing-step-1{
	background:url("/images/embed/step_1.png") no-repeat;
	float:left;
	width:70px;
	height:69px;
}
.button-landing-1{
	background:url("/images/embed/continue_button.png") no-repeat;
	float:right;
	height:57px;
	width:172px;
	margin-top:3px;
	text-indent:-9999px;
}
.landing-step-2{
	background:url("/images/embed/step_2.png") no-repeat;
	float:left;
	width:70px;
	height:69px;
}
.button-landing-2{
	background:url("/images/embed/see_button.png") no-repeat;
	border:none;
	float:right;
	height:56px;
	width:261px;
	margin-top:3px;
	text-indent:-9999px;
}
.formhide{
	left:139%;
	opacity:.3;
}
.form-step2-landing{
	top:-200px;
}
.form-step2-landing p{
	font:12px Georgia, serif;
	color:#adadad;
	font-weight:bolder;
}
.footer-landing, .push-landing {
	height: 135px;
}
#footer-wrap-landing {
	width:100%;
	height:30px;
	border-top:2px solid #363631;
	background:#363b3f;
	margin:0px auto;
	position:relative;
}
#facebook-wrap-landing {
	width:100%;
	height:80px;
	border-top:2px solid #363631;
	background:#111111;
	margin:0px auto;
	padding:10px;
	position:relative;
	text-align:center;
}
#footer-wrap-landing ul {
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
}
#footer-wrap-landing ul li, #footer-wrap-landing ul li a {
	display: inline;
	font-weight:bold;
	color:#ffffff;
	line-height:2em;
	margin:0;
	padding:0;
}

/* ~~~~~~~~ DEAL PAGE & SITE FRAME ~~~~~~ */

body#single{
	background:transparent url("/images/embed/bg-stripes.jpg") repeat left top;
	color:#444;
	font:13px/1.5 helvetica, sans-serif;
	margin:0;
}
#nav{
	background:url('/images/embed/nav_bg.png') transparent;
	border-bottom:2px solid #adadad;
	font-size:16px;
	height:66px;
	line-height:66px;
	width:100%;
}
#nav ul{
	list-style:none;
	width:560px;
	margin:0 auto;
	padding:0;
	float:right;
}
#nav li{
	float:right;
	margin:0;
	padding:0;
}
#nav a{
	color:#f0f0f0;
	display:block;
	text-decoration:none;
	padding:0 10px;
}
#nav a:hover,.current_item{
	background:#333;
}
#single #header{
}
#category{
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	background:#181818;
	color:#ffffff;
	font: 20px 'ChunkFiveRegular', Georgia, serif;
	margin:0 0 10px;
	padding:15px;
}
#subcategory{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#181818;
	color:#ffffff;
	font:normal 20px 'ChunkFiveRegular', Georgia, serif;
	margin:0 0 10px;
	padding:10px;
}
#toggler{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
	box-shadow:1px 1px 5px #333;
	-moz-box-shadow:1px 1px 5px #333;
	-webkit-box-shadow:1px 1px 5px #333;
	background:#fff;
	float:left;
	margin:0;
	padding:10px;
	width:100%;
	height:100%;
}
/*#flash_alert, #flash_notice,#error_explanation,#finish_registration{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;	
	margin:10px 0;
	padding:3px;
	width:100%;
	height:100%;
	text-align:center;
}*/
#flash_alert, #flash_notice,#error_explanation,#flash_error_explanation,#finish_registration{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
	float:left;
	margin:5px 0;
	padding:10px;
	width:100%;
	height:100%;
}
.field_with_errors {  
	display: inline;  
}  
.field_with_errors .message {  
	color: #CC0000;  
	font-size: 12px;
	font-style:italic;
	float:right;
	margin-right:250px;
	margin-top:10px;
	margin-bottom:15px;
	clear:none;
	width:auto;
}
/*.field_with_errors .message {  
	color: #CC0000;  
	font-size: 12px;
	font-style:italic;
	float:left;
	margin-right:170px;
	margin-top:10px;
	margin-bottom:15px;
	width:100%;
	clear:both;
}*/
#new_user .field_with_errors .message {  
	color: #CC0000;  
	font-size: 12px;
	font-style:italic;
	float:left;
	margin-top:5px;
	margin-bottom:0;
	width:100%;
	clear:both;
}
#business_password_edit .field_with_errors .message {
	margin-right: 180px;
}
#landing-form-2  .field_with_errors .message {  
	color: #CC0000;  
	font-size: 12px;
	margin-left:-80px;
	margin-right:0;
	float:none;
	margin-top:10px;
}
#flash_notice {background:#BCED91;}
#flash_alert {background:#FCF0AD;}
#error_explanation, #flash_error_explanation {background:none repeat-x scroll 50% 50% #ff6666;color:#222222;}
#finish_registration {background:#FBEC5D;color:#000000;}
#finish_registration p {color:#000000;}
#finish_registration a {color:#bc1f31;text-decoration:underline;}
#featured,#information,#more{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
	box-shadow:1px 1px 5px #333;
	-moz-box-shadow:1px 1px 5px #333;
	-webkit-box-shadow:1px 1px 5px #333;
	background:#fff;
	float:left;
	margin:20px 20px 20px 0;
	position: relative;
}
#featured, #more{
	padding:0;
	width:700px;
}
#single h2, #single h2 a {
	font: normal 24px 'ChunkFiveRegular', Georgia, serif;
	margin:15px 15px;
}
#deals{
	background:#7c1420;
	border-radius:5px 0px 0px 5px;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	font: normal 17px/1.5 'ChunkFiveRegular', Georgia, serif;
	float:left;
	padding:10px;
	width:185px;
	margin-left: 15px;
	color: #fff;
	height: 272px;
}
#deals .hasCountdown {
	border: 0;
	background-color: #bc1f31;
	padding-bottom: 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:55px;
	width:auto;
}
#deal-price{
	background:#7c1420;
	color:#FFFFFF;
	font: normal 17px/1.5 'ChunkFiveRegular', Georgia, serif;
	float:left;
	padding: 0px 5px;
	width:185px;
	margin-bottom:15px;
}
#deal-price dl {
	float:left;
	font-weight:bold;
	text-align:center;
	width:61px;
}
#deal-price dl dt {
	font-size:12px;
}
#deal-price dl dt, #deals dl dd {
	text-align:center;
}
#deals .shareOn {
	display:block;
	margin-bottom:15px;
}
#deals .shareOn p{
	margin:0;
	color:#FFFFFF;
	display:inline;
}
#deals .shareOn a{
	display:inline;
	margin:5px 0;
	color:#FFFFFF;
	font-size:10px;
}
.icon16-facebook {
	background:url("/images/embed/icon16_facebook.gif") no-repeat scroll 0 50% transparent;
}
.icon16-twitter {
	background:url("/images/embed/icon16_twitter.gif") no-repeat scroll 0 50% transparent;
}
.icon16 {
	padding-left:21px;
}
.facebook {
	background:url("/images/embed/facebook.png") no-repeat;
	height:26px;
	width:26px;
	float:right;
}
.twitter {
	background:url("/images/embed/twitter.png") no-repeat;
	height:26px;
	width:26px;
	float:right;
	margin-right:10px;
}
#showtime{
	background:#DDDDDD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width:185px;
	position: relative;
	margin:10px 15px 0px;
	padding:5px 10px;
	float:left;
}
#showtime h4, #showtime p {
	margin:0;
	font-family:Arial, sans-serif;
	font-weight:bold;
}
#rate h4, #rate p {
	font-family:Arial, sans-serif;
	font-weight:bold;
	margin-bottom:5px;
}
#rate{
	background:#DDDDDD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width:185px;
	position: relative;
	margin:10px 15px 10px;
	padding:5px 10px;
	float:left;
}
#rate p, #share p {
	color:#555;
	font-size:13px;
	line-height: 100%;
}
#rate img, #rate span {
	padding:0 20px;
	margin-bottom:5px;
	width: 30px;
	cursor:pointer;
}
.rate-login {
	display: block;
	background-color:#BBBBBB;
	color:#222222;
	padding:5px;
	border:1px dashed #222222;
}
.buy_ribbon{
	background:url('/images/embed/ribbon.png') transparent;
	display:block;
	height:89px;
	width:244px;
	left:-50px;
	margin:10px 0;
	position:relative;
}
.buy_ribbon p{
	color:#fff;
	font-size:22px;
	margin:0;
	padding:20px 30px;
	text-shadow:1px 1px 0 #000;
}
.buy_ribbon img{
	float:right;
	margin:-75px 20px 0 0;
}
.disc_info{
	float:left;
	margin:10px 0 20px;
	color:#ffffff;
}
.disc_info_left{
	float:left;
	width:120px;
}
.disc_info_right{
	float:right;
	width:60px;
}
#deals a{
	display:block;
	margin-bottom:10px;
	text-align:center;
	text-decoration:underline;
}
.featured_pic_holder, .featured_pic, .featured_pic_sold_out {
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius:  0px 5px 5px 0px;
	height: 292px;
	width:459px;
}
.featured_pic_holder{
	position:relative;
	float:left;
}
.featured_pic{
}
.featured_pic_sold_out{
	position:absolute;
	z-index:999;
	background:url(/images/embed/transbg.png);
}
.featured_pic_sold_out_text {
	font:66px 'ChunkFiveRegular', Georgia, serif;
	position:relative;
	display:block;
	width:100%;
	height:100%;
	color:#EEE;
	text-transform: uppercase;
	padding-left:20px;
	padding-top:120px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-transform: rotate(30deg);	
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
.featured_left{
	float:left;
	margin:10px 10px 10px 50px;
	width:222px;
}
.featured_right{
	float:right;
	margin:10px 0 0 0;
	width:222px;
	padding-right:8px;
}
#featured h3 {
	font-size:18px;
	margin:0 0 20px;
}
#more h3{
	font-size:18px;
	margin:15px;
}
#more p { margin: 15px;}
#featured ul, #more ul{
	list-style:disc;
	margin:0 0 0 15px;
	padding:0;
}
#featured li, #more li{
	padding-bottom:5px;
}
#sidebar{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
	box-shadow:1px 1px 5px #333;
	-moz-box-shadow:1px 1px 5px #333;
	-webkit-box-shadow:1px 1px 5px #333;
	background: #EEE;
	float:right;
	margin:20px 0;
	width:240px;
}
#sidebar h4{
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	background: #3C0A10;
	color:#ffffff;
	font: normal 16px 'ChunkFiveRegular', Georgia, serif;
	margin:0 0 10px;
	padding:10px;
}
#sidebar p{
	padding:10px;
	margin:0 0 10px;
	color: #333;
}
#sidebar img{
	float:left; 
	padding-right:5px; 
	width:50px;
	height:auto;
	cursor:pointer;
}
/*.viewing {
	background:url("/images/embed/view.png");
	float:left;
	height:20px;
	width:56px;
	margin-right:5px;
}
.view {
	background-position: 0 -20px;
}*/
#information{
	width:710px;
}
.text{
	float:left;
	padding:10px;
	width:460px;
}
.text p{
	margin:0 0 10px;
}
.text img.discuss{
	float:right;
	margin-top:10px;
}
.info_sidebar{
	border-radius:0 10px 10px 0;
	-moz-border-radius:0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;
	background:#df7881;
	float:right;
	padding:10px;
	width:210px;
}
#information h3{
	font-size:18px;
	margin:0 0 20px;
}
.info_link{
	float:left;
	margin:0 30px 20px 0;
}
.info_sidebar p{
	border-bottom:1px solid #760996;
	margin:30px 0;
	padding-bottom:30px;
}
blockquote{
	background:url('/images/embed/quotes.png')no-repeat left top transparent;
	font-size:13px;
	font-style:italic;
	margin:0 0 30px;
	padding:0 0 0 30px;
}
footer, .footer-landing, .push {
	height: 135px;
}
footer{
	background:#000;
	border-top:2px solid #adadad;
	color:#ccc;
	float:left;
	margin:30px 0 0;
	padding:0 0 30px;
	width:100%;
}
footer p{
	margin:0 0 10px;
}
footer a{
	color:#ccc;
}
footer a:hover,footer a:focus,footer a:active{
	text-decoration:underline;
}
footer h5{
	font-size:14px;
	margin:0 0 15px;
}
footer ul{
	list-style:none;
	margin:0;
	padding:0;
}
footer li{
	margin:0;
	padding:0;
}
#footer_wrapper{
	margin:20px auto 0;
	width:960px;	
}
.footer_column{
	float:left;
	margin:0 20px 0 0;
	width:160px;
}
.colophon{
	float:right;
	width:410px;
}
.c33l {
	width:30%;
	float:left;
	margin:0;
}
.footer-c50l {
	width:47%;
	float:left;
	margin:0;
}
.c33lc {
	width:30%;
	float:left;
	margin:0;
	text-align:center;
}
.footer-c35lc {
	width:33%;
	float:left;
	margin:0;
	text-align:center;
}
.c33r {
	width:30%;
	float:right;
	margin:0;
	text-align:right;
}
.footer-c15r {
	width:13%;
	float:right;
	margin:0;
	text-align:right;
}
#LoadingDiv {
	margin:0px 0px 0px 0px;
	position:fixed;
	height: 100%;
	z-index:9999;
	padding-top:200px;
	padding-left:50%;
	width:100%;
	clear:none;
	background:url(/images/embed/transbg.png);
	/*background-color:#666666;
	border:1px solid #000000;*/
	}
/*IE will need an 'adjustment'*/
* html #LoadingDiv{
	position: absolute;
	height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
/* ~~~~~~~~ MY ACCOUNT FORMS ~~~~~~ */

div.row, div.row-multi {
	/*background:#ffc;
	border:2px solid #ffc;*/
	margin:0 0 5px 0;
	float:left;
	width:100%;
	padding:6px 0;
}
div.row50l {
	/*background:#ffc;
	border:2px solid #ffc;*/
	margin:0 0 5px 0;
	float:left;
	width:48%;
	padding:6px 0;
}
div.row25l {
	background:#ffc;
	border:2px solid #ffc;
	margin:0 0 5px 0;
	float:left;
	width:24.5%;
	padding:6px 0;
}
div.row label, div.row-multi label, div.row50l label {
	float:left;
	display:block;
	width:15em;
	font-weight:bold;
	padding:0 6px;
}
div.row label:hover, div.row50l label:hover {
	/*background:#FFFF66;*/
	cursor:pointer;
}
div.row fieldset, div.row50l fieldset {
	border:1px solid gray;
	margin:0 6px;
}
div.row fieldset span, div.row50l fieldset span {
	display:block;
}
div.row fieldset span label, div.row50l fieldset span label {
	float:none;
	display:inline;
}
div.row fieldset legend, div.row50l fieldset legend {
	font-weight:bold;
}
div.requiredRow {
	/*border:2px solid #049;*/
}
#from_date, #to_date {
	width:115px;
}
.row25l select, .row25l input, .row25r select, .row25r input{
	border:1px solid #adadad;
	font-size:14px;
	margin:0;
	padding:8px;
	width:auto;	
}
#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
	float:left;
}
#sortable li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: .9em;
	height: 18px;
}
#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}
#pay1, #pay2, #pay3 {
	display:none;
}
.button-auto {
	width:auto;
}
.remember_me {
	width:20px;
	margin-left: -80px;
	border:none;
}
a.edit {
	text-decoration:underline;
}
#city-label {width:50px;float:left;font-weight:bold;font-family:'ChunkFiveRegular', Arial, Sans-Serif;color:#363b3f; font-weight: normal;font-size:16px;}
#zip-label {width:90px;float:left;font-weight:bold;font-family:'ChunkFiveRegular', Arial, Sans-Serif;color:#363b3f; font-weight: normal;font-size:16px;}
#d1-label {width:70px;float:left;}
#d2-label {width:70px;float:left;}
#d3-label {width:70px;float:left;}
#d4-label {width:70px;float:left;}
#t1-label {width:70px;float:left;}
#t2-label {width:70px;float:left;}
#t3-label {width:70px;float:left;}
#preferences-form input {width:30px;margin:3px 0;}
#city-input {width:180px;float:left;}
#zip-input {width:50px;float:left;}
.city {width:280px;float:left;margin-right:30px;}
.zip {width:240px;float:left;}
.d1 {width:130px;float:left;margin-right:15px;}
.d2 {width:130px;float:left;margin-right:15px;}
.d3 {width:130px;float:left;margin-right:15px;}
.d4 {width:130px;float:left;}
.t1 {width:130px;float:left;margin-right:20px;}
.t2 {width:130px;float:left;margin-right:20px;}
.t3 {width:130px;float:left;}
/* ~~~~~~~~ TABLES ~~~~~~ */

table.tablesorter {
	font-family:arial;
	background-color: #4D4D4D;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #CCC;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/images/embed/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/embed/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/embed/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
table p {
    margin-bottom: 0;
}
table th {
    font-size: 1.2em;
    font-weight: 700;
    padding-left: 5px;
}
table th p {
    font-weight: bold;
    width: 100%;
}
.events_table th {
    font-size: .8em;
    font-weight: bold;
}
.events_table th .td_pad {
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
}
.events_table th .td_pad.first {
    padding-left: 0;
}
.events_table th .td_pad.last {
    padding-right: 15px;
}
.td_pad {
    padding: 10px 0 10px 15px;
}
table .odd {
    background: none repeat scroll 0 0 #CCC;
}
p.avatar {
    margin-bottom: 6px;
}
.events_table .vouchers {
    border-bottom: 1px solid #DAEACA;
}
.events_table .events_name {
    margin: 0 0 6px;
}
.events_table tr th .desc {
    /* background: url ; NEED TO ADD DOWN ARROW IMAGE */
}
.events_table tr th .asc {
   /* background: url ; NEED TO ADD UP ARROW IMAGE */
}
.events_table td {
    position: relative;
}
.events_table  p {
    line-height: normal;
}
.events_table {
    color: #A0A0A0;
}

/* ~~~~~~~~ MY ACCOUNT TABS ~~~~~~ */

#account{
	padding:10px;
	width:960px;
	display:block;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;	
	box-shadow:3px 3px 5px #000;
	-moz-box-shadow:3px 3px 5px #000;
	-webkit-box-shadow:3px 3px 5px #000;
	background:#fff;
	float:left;
	margin:20px 10px 20px 0;
}
#account .ui-tabs {
	margin:-10px -10px 0 -10px;
	padding:0;
	position:relative;
}
#tabs .ui-corner-all,#tabs .ui-corner-bottom,#tabs .ui-corner-right,#tabs .ui-corner-br {
	border-bottom-right-radius:0;
}
#tabs .ui-corner-all,#tabs .ui-corner-bottom,#tabs .ui-corner-left,#tabs .ui-corner-bl {
	border-bottom-left-radius:0;
}
#tabs .ui-tabs,#tabs .ui-tabs-nav {
	margin:0;
	padding:0.6em 0.8em 0;
}
#tabs .ui-widget-header, #single .ui-widget-header {
	background:#be1e2d repeat-x scroll 50% 50%;
	border:1px solid #E3A1A1;
}
#subtabs > .ui-widget-header {
	border:none;
	background: #fff;
	margin-bottom: 15px;
}
#subtabs .ui-state-active, #subtabs .ui-tabs-selected  {
	background: none repeat scroll 0 0 #CFB52B /*#be1e2d*/;
	border-radius: 2px;
}
#subtabs label.ui-state-active, #subtabs label.ui-tabs-selected, #subtabs button.ui-state-active, #subtabs button.ui-tabs-selected {
	background: none repeat scroll 0 0 #ffffff;
	border-radius: 2px;
}
#subtabs .ui-state-active a, #subtabs .ui-tabs-selected a  {
	color: #222222;
}
#subtabs .ui-state-default  {
	border-radius: 2px;
}
#myvenue .ui-corner-all,#myvenue .ui-corner-bottom,#myvenue .ui-corner-right,#myvenue .ui-corner-br {
	border-bottom-right-radius:2px;
}
#myvenue .ui-corner-all,#myvenue .ui-corner-bottom,#myvenue .ui-corner-left,#myvenue .ui-corner-bl {
	border-bottom-left-radius:2px;
}
#venue-info ul .ui-state-active, #venue-info ul .ui-tabs-selected  {
	background: none repeat scroll 0 0 #FFF;
}
#venue-info .ui-widget-header {
	background: repeat-x scroll 50% 50% #be1e2d;
	border: 1px solid #E3A1A1;
	color: #FFFFFF;
	font-weight: bold;
}
#mypayment h3 {
	margin:10px 0;
}
/* ~~~~~~~~ STATIC PAGES ~~~~~~ */
.buy-image {
	background: url("/images/embed/buy_buttons.png") no-repeat 0 0;
	width: 113px;
	height: 50px;
	display: block;
	text-indent: -9999px;
	margin-top:-73px;
	margin-right:10px;
	float:right;
}
.buy-image:hover {
	background-position: 0 -50px;
}
.thumbs-up-selected {
	background: url("/images/embed/thumbs_up.png") no-repeat 0 0;
	width: 32px;
	height: 40px;
	display: block;
	text-indent: -9999px;
	float:right;
	background-position: 0 -40px;
}
.thumbs-up {
	background: url("/images/embed/thumbs_up.png") no-repeat 0 0;
	width: 32px;
	height: 40px;
	display: block;
	text-indent: -9999px;
	float:right;
}
.thumbs-up:hover {
	background-position: 0 -40px;
}
.thumbs-down-selected {
	background: url("/images/embed/thumbs_down.png") no-repeat 0 0;
	width: 32px;
	height: 40px;
	display: block;
	text-indent: -9999px;
	float:right;
	background-position: 0 -40px;
}
.thumbs-down {
	background: url("/images/embed/thumbs_down.png") no-repeat 0 0;
	width: 32px;
	height: 40px;
	display: block;
	text-indent: -9999px;
	float:right;
}
.thumbs-down:hover {
	background-position: 0 -40px;
}
#content {
	width:960px;
	display:inline-block;
	margin:10px 0;
	padding:10px;
	background:#ffffff;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;	
	box-shadow:3px 3px 5px #000;
	-moz-box-shadow:3px 3px 5px #000;
	-webkit-box-shadow:3px 3px 5px #000;
}
#content .quantity input { width:30px;}
#content .col {
	width:286px;
	margin:0px 25px 0px 0px;
	padding:0px 25px 0px 0px;
	float:left;
	background:url('/images/embed/col_separator.png') right repeat-y;
}

#content .col .icon {
	margin:-20px 0px 0px 0px;
	float:right;
}

#content .last_col {
	margin-right:0px;
	padding-right:0px;
	background:transparent;
}
#content h1 {
	margin-bottom:20px;
}
.button {
	width:75px;
	height:37px;
	padding:7px;
	display:inline-block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #000;
	background:#262c2e url('/images/embed/button_sprite.png') repeat-x;
}
.button:hover {
	cursor:pointer;
	background:#262c2e url('/images/embed/button_sprite.png') 0px -41px
}
.button:active {
	background:#262c2e url('/images/embed/button_sprite.png') 0px -82px
}
#single_event_button {
	margin-right:10px;
	margin-bottom:10px;
}
.btn_link {
	height:22px;
	margin:20px 0px 0px 0px;
}
.btn_toggle {
	height:22px;
	margin:0 5px;
}
.btn_launch {
	height:22px;
	margin:5px 0;
}
.launched {
	text-decoration:underline;
}
.su_btn_link {
	float:right;
	margin:2px 30px 0px 0px;
}
.side_box {
	margin:0px auto 15px auto;
	padding:5px;
	box-shadow:0px 10px 10px -10px #6a6a6a;
	-moz-box-shadow:0px 10px 10px -10px #6a6a6a;
	-webkit-box-shadow:0px 10px 10px -10px #6a6a6a;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ababab;
	background:#ededed;
}
.c25l {
	width:23%;
	float:left;
	padding:1%;
	margin:0;
}	
.c75l {
	width:73%;
	float:left;
	padding:1%;
	margin:0;
}
.c50l {
	width:46%;
	float:left;
	padding:1%;
	margin:0;
}
.c50r {
	width:46%;
	float:left;
	padding:1%;
	margin:0;
}
.c50r2 {
	width:46%;
	float:right;
	padding:1%;
	margin:0;
}
.clear { clear:both;}
.clearfix { display:block;}
.panel {
	padding:20px;
	position:relative;
	min-height:500px;
}
.login-span {
	font-size: 14px;
	margin-left:10px;
}
.login-a {
	font-size:14px;
	color:#06C;
}
.metrics {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#CCC;
	color:#000;
	margin: 10px;
	padding:15px;
	display:block;
	position:relative;
	float:left;
	height:60px;
	width:140px;
}
.metrics-title {
	font-size: 14px;
	font-weight:bolder;
	color:#222;
	text-align:center;
}
.metrics-kpi {
	font-size: 12px;
	text-align:center;
	color:#222;
}

/* ~~~~~~~~ BUSINESS PAGE ~~~~~~ */

#business_wrap {
	width:960px;
	margin:0px auto;
}
#business {
	width:960px;
	display:inline-block;
	padding:25px 0px 25px 0px;
}
#business_info {
	width:315px;
	margin:20px 0px 0px 0px;
	float:left;
}
.business_button {
	width:314px;
	text-transform:uppercase;
	padding:20px 0px 0px 0px;
	display:inline-block;
	/*background: url('/images/featured_button_sprite.png');
	height:39px;*/
	text-align:center;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
}
/*.business_button:hover {
	background: url('/images/featured_button_sprite.png') 0px -61px;
}
.business_button:active {
	background: url('/images/featured_button_sprite.png') 0px -122px;
}*/
#business_video {
	width:568px; /* 590px */
	margin: 40px 10px;
	float:right;
	background:#ddd;
	position:relative;
}
#business_video .video {
	padding:5px;
	box-shadow:0px 10px 10px -10px #6a6a6a;
	-moz-box-shadow:0px 10px 10px -10px #6a6a6a;
	-webkit-box-shadow:0px 10px 10px -10px #6a6a6a;
	border:1px solid #ababab;
	background:#fff;
}		
.ft-title {
	padding: 10px;
	text-align: left;
	width: 548px;
}
#ft-buttons-slideshowHolder {
	display:none;
}
.ft-prev, .ft-next {
	background-color: #000000;
	padding: 0 10px;
}
a.ft-prev, a.ft-next {
	color:#5C7F99;
}
#whats_next {
	width:960px;
	height:40px;
	margin:0px auto;
	padding:20px 0px 20px 0px;
	box-shadow:0px 10px 10px -10px #6a6a6a;
	-moz-box-shadow:0px 10px 10px -10px #6a6a6a;
	-webkit-box-shadow:0px 10px 10px -10px #6a6a6a;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ababab;
	background:#ededed;
}
#whats_next h2 {
	margin:10px 0px 0px 40px;
	float:left;
}
#whats_next ol {
	margin:5px 20px 0px 0px;
	float:right;
}
#whats_next ol li {
	margin:0px 0px 0px 40px;
	float:left;
	display:inline-block;
}
#whats_next ol li img {
	float:left;
}
#whats_next ol li span {
	margin:13px 0px 0px 10px;
	display:inline-block;
}
#slideshowHolder {
	border:5px solid #000000;
}
#reasons_wrap {
	width:960px;
	margin:25px auto;
}
#reasons {
	width:960px;
	display:inline-block;
}
#signup_wrap {
	width:960px;
	height:40px;
	margin:0px auto;
	padding:20px 0px 20px 0px;
	box-shadow:0px 10px 10px -10px #6a6a6a;
	-moz-box-shadow:0px 10px 10px -10px #6a6a6a;
	-webkit-box-shadow:0px 10px 10px -10px #6a6a6a;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ababab;
	background:#ededed;
}
#signup_wrap h2 {
	margin:12px 0px 0px 78px;
	float:left;
}
#signup_wrap span {
	margin:17px 0px 0px 78px;
	float:left;
}
#signup_wrap form {
	margin:3px 0px 0px 78px;
	display:inline-block;
}
.business-step-1{
	background:url("/images/embed/1.png") no-repeat;
	float:left;
	width:37px;
	height:37px;
	position:relative;
	bottom:12px;
}
.business-step-2{
	background:url("/images/embed/2.png") no-repeat;
	float:left;
	width:37px;
	height:37px;
	position:relative;
	bottom:12px;
}
.business-step-3{
	background:url("/images/embed/3.png") no-repeat;
	float:left;
	width:37px;
	height:37px;
	position:relative;
	bottom:12px;
}
.business-step-4{
	background:url("/images/embed/4.png") no-repeat;
	float:left;
	width:37px;
	height:37px;
	position:relative;
	bottom:12px;
}
/* ~~~~~~~~ CART/CHECKOUT PAGES ~~~~~~ */
#add_payment {
	height:15px;
	width:125px;
}
#cart_submit {
	width:200px;
	height:60px;
	font-size:1.3em;
	text-transform:uppercase;
	margin:15px;
}
#cart_span {
	width:162px;
	text-align:center;
	display:block;
}
#paypal_submit {
	width:162px;
	height:41px;
	margin-top:10px;
	margin:0;
	padding:0;
	border:none;
}
#sign_in_box {
	position:relative;
	background:#eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.radio_payment {
	width:20px;
	margin:0 5px;
}
/* ~~~~~~~~~~~~~~ BUTTONS ~~~~~~ */
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn.primary, .btn.danger {
  color: #fff;
}
.btn.primary:hover, .btn.danger:hover {
  color: #fff;
}
.btn.info {
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background-image: -moz-linear-gradient(#ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #e6e6e6);
  background-image: linear-gradient(#ffffff, #e6e6e6);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #ffffff;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.primary {
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(#049cdb, #0064cd);
  background-image: -ms-linear-gradient(#049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(#049cdb, #0064cd);
  background-image: -o-linear-gradient(#049cdb, #0064cd);
  background-image: linear-gradient(#049cdb, #0064cd);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.danger {
  background-color: #BE1E2D;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d83a2e), to(#BE1E2D));
  background-image: -moz-linear-gradient(#d83a2e, #BE1E2D);
  background-image: -ms-linear-gradient(#d83a2e, #BE1E2D);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d83a2e), color-stop(100%, #BE1E2D));
  background-image: -webkit-linear-gradient(#d83a2e, #BE1E2D);
  background-image: -o-linear-gradient(#d83a2e, #BE1E2D);
  background-image: linear-gradient(#d83a2e, #BE1E2D);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #BE1E2D #BE1E2D #5c1611;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.large {
  font-size: 16px;
  line-height: 28px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding-right: 9px;
  padding-left: 9px;
  font-size: 11px;
}
.btn.disabled {
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  cursor: default;
}
.btn:disabled {
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  cursor: default;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.save {
	width:100px;
}
.btn.signup {
	width:150px;
}
button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.ui-multiselect {
	height:30px;
}
.bus_photo_up input {
	width:300px;
}
textarea.ui-state-default {
	background:#EEEEEE;
	filter:alpha(opacity=65);
	opacity:.65;
}
#save-text {
	color:#0064CD;
	text-decoration:underline;
}