<div id="content">

<h2> Hey! We can't find this page! </h2>

<p> But never fear, we'll try and get you to where you are going. Check out the event listings on the <%= link_to "home page", home_path %> or <%= link_to "contact us", contact_path %> if you need more assistance. </p>

<p> Thanks, <br> The UsherBuddy team </p>
			

</div><!--end #content-->
