<div id="content">
	<h2>UsherBuddy in the Press</h2>
	  <p>The UsherBuddy team consists of Frank, Jeff, and Jason. </p><br>
		    <div class="col">
			    <h3>Contact UsherBuddy</h3>
			    <p> If you have any media inquiries for UsherBuddy, please feel free to contact us using the method below. </p>
			    <a class="button btn_link" style="margin-right:4px;" href="http://twitter.com/#!/UsherBuddy" target="_blank">Twitter</a><a class="button btn_link" href="https://www.facebook.com/pages/UsherBuddy/213623642011189" target="_blank">Facebook</a><br /><a class="button btn_link" style="margin-right:4px;" href="mailto:info@usherbuddy.com" target="_blank">Email</a><a class="button btn_link" href="/contact" target="_blank">Contact</a>
		    </div><!--end .col-->

		    <div class="col">
			    <h3>In the Press</h3>
			    <img src="images/nycss.jpg" alt="NYC SeedStart" />
		    </div><!--end .col-->

		    <div class="col last_col">
			    <h3>Media Resources</h3>
				    <h4>Product Info</h4>
				    <p>Browse press releases about <a href="#">our product</a>.</p>
				    <p>Web app and Phone <a href="#">screenshots</a></p>
				    <p>Brand and logo <a href="#">images</a></p>
			    <h4>Story</h4>
				    <p>The UsherBuddy <a href="#">story</a></p>
				    <p>Information on <a href="#">investors</a></p>
		    </div><!--end .col-->
</div><!--end #content-->
