<div id="content">
	<div id="business_wrap">
		<div id="business">
			<div id="business_info">
				<h1>What's the Hype About?</h1>
				<p>UsherBuddy is a response to the all-too-familiar question, "What should we do tonight?" It's a tough task for live events to forge a direct line to the eyes of relevant ticket purchasers due to the information overload that the internet has created. So how exactly does UsherBuddy help your venue to improve attendance?</p>
				<p>UsherBuddy uses an intelligent matching algorithm to match users up to the last minute tickets you launch. By doing so, we are able to fill your seats while also creating a higher probability of return customers. </p>
				<a class="business_button btn primary large" href="/business/signup">Sign Up Today</a>
			</div><!--end #business_info-->
			<div id="business_video">
				<div id="slideshowHolder">
				    <img src='/images/slide/slide1.jpg' alt='We help musicians find users who like their style of music.' />
				    <img src='/images/slide/slide2.jpg' alt='Theater fans can find more similar venues using our service.' />
				    <img src='/images/slide/slide3.jpg' alt='UsherBuddy users looking for a laugh can just search by "comedy."' />
				    <img src='/images/slide/slide4.jpg' alt='And finally, we help people without plans find <em>you</em>.' />
				</div><!--end #slideshowHolder-->
			</div><!--end #business_video-->
		</div><!--end #business-->
	</div><!--end #business_wrap-->
	<div id="whats_next">
		<h2>What's Next?</h2>
		<ol>
			<li><span class="business-step-1"></span><span>Sign Up Below</span></li>
			<li><span class="business-step-2"></span><span>We Contact You</span></li>
			<li><span class="business-step-3"></span><span>Launch Deals</span></li>
			<li><span class="business-step-4"></span><span>Enjoy A Full House!</span></li>
		</ol>
	</div><!--end #whats_next-->
	<div id="reasons_wrap">
		<div id="reasons">
			<div class="col">
				<h2>We Love Live Events</h2>
				<p>As a company, we love live events. All three founders love going to live music, theater, comedy, sports, or any combination of the above. This means that we are your target demographic and understand what keeps customers from finding your venue. We want to make it easier to find great events everywhere.</p>
			</div><!--end .col-->
			<div class="col">
				<h2>We Work for You</h2>
				<p>We have a vested interest in you filling seats. More people at your shows leads to happier UsherBuddy users which leads to happier venues and so on. Ultimately, this leads to a more vibrant arts community. Of course, you get a huge benefit, too. Namely, you can take advantage of incremental revenue opportunities and the buzz that a full house creates.</p>
			</div><!--end .col-->
			<div class="col last_col">
				<h2>We Always Deliver</h2>
				<p>We understand yield management and the pitfalls of other models. Often times promoters want you to launch deals multiple days or even weeks in advance. You wind up selling more tickets, but at what cost? How many of those tickets would have sold without the promo anyways? We want you to sell as many tickets as you can before offering a discount.</p>
			</div><!--end .col-->
		</div><!--end #reasons-->
	</div><!--end #reasons_wrap-->
	<div id="signup_wrap">
		<h2>Join the List</h2>
		<span>We are giving access on a case by case basis. </span>
		    <a class="btn primary large su_btn_link" href="/business/new">Sign Up</a>
	</div><!--end #signup_wrap-->
</div><!--end #content-->
